.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.left-float {
  float: left;
}
.right-float {
  float: right;
}
.container {
  width: 88.75%;
  margin: 0 auto;
}
.mx-50 {
  margin: 50px 0;
}

/* .two-column-left div {
  background-color: rgb(170, 179, 255);
}
.two-column-right div {
  background-color: rgb(255, 170, 170);
} */
.one-column-left {
  margin: auto;
  max-width: 300px;
  padding-bottom: 24px;
}
.one-column-right {
  margin: auto;
  max-width: 300px;
  padding-bottom: 24px;
}
@media (min-width: 580px) {
  .one-column-left {
    float: left;
  }
  .one-column-right {
    float: right;
  }
}
@media (min-width: 680px) {
  .one-column-left {
    margin-left: 6%;
  }
  .one-column-right {
    margin-right: 6%;
  }
}

@media (min-width: 820px) {
  .one-column-left {
    margin-left: 12%;
  }
  .one-column-right {
    margin-right: 12%;
  }
}

@media (min-width: 1020px) {
  .one-column-left {
    margin-left: 0;
    padding-bottom: 0;
  }
  .one-column-right {
    margin-right: 2px;
    padding-bottom: 0;
  }
  .two-column-left {
    float: left;
    width: 50%;
  }
  .two-column-right {
    float: right;
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .two-column-left .one-column-right {
    margin-right: 6%;
  }
  .two-column-right .one-column-left {
    margin-left: 4%;
  }
}
@media (min-width: 1480px) {
  .two-column-left .one-column-right {
    margin-right: 10%;
  }
  .two-column-right .one-column-left {
    margin-left: 10%;
  }
}
/* -------------------navbar layout--------------- */
.navbar-main {
  background-color: white;
  height: 108px;
  width: 100%;
  z-index: 2;
}

.navbar-main .container a {
  float: left;
  display: block;
  color: #4c5d73;
  text-align: center;
  padding: 44px 20px;
  text-decoration: none;
  font-size: 16px;
}
.navbar-main .container a:hover {
  color: black;
}
.navbar-main .logo {
  position: relative;
  width: 180px;
  color: black;
  margin-right: 4.5vw;
}
.navbar-main img {
  position: absolute;
  top: 0;
  left: 0;
}
.right-float-nav {
  float: right;
}
.right-float-nav a {
  color: #304f8c !important;
  font-size: 16px;
  font-weight: 500;
}
.right-float-nav a:hover {
  color: #041230 !important;
}
.navbar-main a .logo span {
  font-size: 32px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 20px;
}
.navbar-main .container .hamburger-icon {
  display: none;
  color: black;
  font-size: 22px;
  height: 30px;
}
.button-nav {
  border: 1.59px solid #304f8c;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 11.4px 3vw !important;
  margin-top: 34px;
}
.button-nav:hover {
  border: 1.59px solid #041230 !important;
}
.h-12 {
  height: 12px;
}
@media (min-width: 991px) {
  .navbar-main {
    position: fixed;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 1161px) {
  .navbar-main .logo {
    position: relative;
    width: 180px;
    color: black;
    margin-right: 2vw;
  }
  .navbar-main .container a {
    padding: 44px 1.3vw;
    font-size: 15px;
  }
}
@media screen and (max-width: 991px) {
  .navbar-main .container a.hamburger-icon {
    float: right;
    display: block;
  }
  .navbar-main .container a {
    display: none;
  }
  .a-block {
    display: block !important;
  }
  .right-float-nav {
    float: none;
  }
  .top-a {
    margin-top: 65px;
  }

  /* .navbar-main .container a:not(:nth-child(1)) {
    display: none;
  } */
}

@media screen and (max-width: 991px) {
  .navbar-main.responsive {
    position: relative;
  }
  .navbar-main.responsive .container a.hamburger-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 44px 52px;
    background-color: transparent;
  }
  .navbar-main.responsive .container a {
    float: none;
    display: block;
    text-align: center;
    padding: 14px 0;
    background-color: #f8f8f8;
  }
  .navbar-main.responsive .container a.a-block {
    background-color: transparent;
  }

  .navbar-main.responsive .container a:hover {
    background-color: #f9feff;
  }
  .navbar-main.responsive .container a.hamburger-icon:hover {
    background-color: transparent;
  }
  .navbar-main.responsive .container span a.button-nav {
    border: none;
    margin-top: 0px;
  }
  /* .button-nav {
   
  } */

  .button-nav:hover {
    border: none !important;
  }
}
