.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.left-float {
  float: left;
}
.right-float {
  float: right;
}
.container {
  width: 88.75%;
  margin: 0 auto;
}
.four-column {
  background-color: bisque;
}
/* .two-column-left div {
  background-color: rgb(170, 179, 255);
}
.two-column-right div {
  background-color: rgb(255, 170, 170);
} */
.one-column-left {
  margin: auto;
  max-width: 300px;
}
.one-column-right {
  margin: auto;
  max-width: 300px;
}
@media (min-width: 580px) {
  .one-column-left {
    float: left;
  }
  .one-column-right {
    float: right;
  }
}
@media (min-width: 680px) {
  .one-column-left {
    margin-left: 6%;
  }
  .one-column-right {
    margin-right: 6%;
  }
}

@media (min-width: 820px) {
  .one-column-left {
    margin-left: 12%;
  }
  .one-column-right {
    margin-right: 12%;
  }
}

@media (min-width: 1020px) {
  .one-column-left {
    margin-left: 0;
  }
  .one-column-right {
    margin-right: 0;
  }
  .two-column-left {
    float: left;
    width: 50%;
    background-color: rgb(189, 245, 133);
  }
  .two-column-right {
    float: right;
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .two-column-left .one-column-right {
    margin-right: 4%;
  }
  .two-column-right .one-column-left {
    margin-left: 4%;
  }
}
@media (min-width: 1480px) {
  .two-column-left .one-column-right {
    margin-right: 8%;
  }
  .two-column-right .one-column-left {
    margin-left: 8%;
  }
}
/* -------------------navbar layout--------------- */
.navbar-main {
  background-color: rgb(229, 229, 250);
  height: 108px;
}

.navbar-main .container a {
  float: left;
  display: block;
  color: #4c5d73;
  text-align: center;
  padding: 44px 20px;
  text-decoration: none;
  font-size: 16px;
}
.navbar-main .logo {
  position: relative;
  width: 180px;
  color: black;
  margin-right: 4.5vw;
}
.navbar-main img {
  position: absolute;
  top: 0;
  left: 0;
}
.right-float-nav {
  float: right;
}
.navbar-main a .logo span {
  font-size: 32px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 20px;
}
.navbar-main .container .hamburger-icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar-main a.hamburger-icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar-main.responsive {
    position: relative;
  }
  .navbar-main.responsive .container .hamburger-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-main.responsive .container a {
    float: none;
    display: block;
    text-align: left;
  }
}
