@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
.container {
  font-family: "Rubik", sans-serif;
}
.landing-page .landing-page-image-portion {
  width: 58%;
  margin: 14px auto;
}
.landing-page .landing-page-image-portion .landing-page-image {
  width: 100%;
}
.landing-page .landing-page-text-portion .landing-page-main-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.landing-page .landing-page-text-portion .landing-page-sub-heading {
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  color: #4c5d73;
}
.landing-page .landing-page-text-portion .landing-page-button {
  background-color: #304f8c;
  font-size: 13px;
  font-weight: 700;
  color: white;
  outline: none;
  border: none;
  width: 200px;
  height: 44px;
  border-radius: 8px;
  margin: 16px auto;
  display: block;
  box-shadow: 0px 12px 50px rgba(48, 79, 140, 0.26);
  cursor: pointer;
}
.landing-page .landing-page-text-portion .landing-page-button:hover {
  background-color: #0b2b69;
}
.landing-page .landing-page-text-portion .landing-page-button:active {
  transform: scale(0.99);
}
.big-white-box {
  padding: 36px 85px;
  box-shadow: 0 20px 50px rgba(48, 79, 140, 0.116);
  border-radius: 10px;
  margin: 50px 0;
}
.big-white-text-box {
  position: relative;
  width: 190px;
  margin: 0 auto;
}
.circle-outside {
  height: 59px;
  width: 59px;
  border-radius: 50%;
  background-color: #eaedf4;
  position: relative;
  display: inline-block;
}
.circle-outside svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right-circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 68px;
  z-index: 2;
}
.right-circle span {
  color: #111826;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
}
.right-circle p {
  color: #4c5d73;
  font-size: 14px;
}
/* ---------------------------media queries---------------------------- */
@media (min-width: 480px) {
  .landing-page .landing-page-image-portion {
    width: 44%;
    margin: 14px auto;
  }
  .landing-page .landing-page-text-portion .landing-page-main-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
  .landing-page .landing-page-text-portion .landing-page-sub-heading {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #4c5d73;
  }
}
@media (max-width: 769px) {
  .landing-page .landing-page-text-portion .landing-page-main-heading {
    text-align: center;
  }
}
@media (min-width: 769px) {
  .landing-page .landing-page-image-portion {
    float: right;
    width: 50%;
    margin: 14px auto;
  }
  .landing-page .landing-page-image-portion .landing-page-image {
    float: right;
    width: 330px;
  }
  .landing-page .landing-page-text-portion {
    width: 50%;
  }
  .landing-page .landing-page-text-portion .landing-page-main-heading {
    font-size: 32px;
    margin-top: 56px;
    padding-top: 42px;
  }
  .landing-page .landing-page-text-portion .landing-page-sub-heading {
    font-size: 13px;
    margin-top: 20px;
  }
  .landing-page .landing-page-text-portion .landing-page-button {
    width: 200px;
    height: 44px;
    border-radius: 8px;
    margin: 20px 0 0 0;
  }
}
@media (min-width: 992px) {
  .landing-page .landing-page-image-portion .landing-page-image {
    width: 360px;
  }
  .landing-page .landing-page-text-portion .landing-page-main-heading {
    font-size: 38px;
  }
  .landing-page .landing-page-text-portion .landing-page-sub-heading {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  /* .landing-page .landing-page-image-portion {
        width: 58%;
        margin: 14px auto;
      }
      .landing-page .landing-page-image-portion .landing-page-image {
        width: 100%;
      } */
  .landing-page .landing-page-image-portion .landing-page-image {
    width: 432px;
  }
  .landing-page .landing-page-text-portion .landing-page-main-heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
  }
  .landing-page .landing-page-text-portion .landing-page-sub-heading {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #4c5d73;
  }
  .landing-page .landing-page-text-portion .landing-page-button {
    background-color: #304f8c;
    font-size: 16px;
    font-weight: 700;
    color: white;
    outline: none;
    border: none;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    margin-top: 30px;
  }
}
@media (min-width: 1400px) {
  .landing-page .landing-page-image-portion .landing-page-image {
    width: 482px;
  }
  .landing-page .landing-page-text-portion .landing-page-main-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }
}
.navbar-offset {
  display: none;
}
@media (min-width: 991px) {
  .navbar-offset {
    display: block;
    height: 160px;
  }
}

/* @media (min-width: 480px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... } */
