@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
.container {
  font-family: "Rubik", sans-serif;
}
.landing-page .landing-page-image-portion {
  width: 58%;
  margin: 14px auto;
}
.landing-page .landing-page-image-portion .landing-page-image {
  width: 100%;
}
.landing-page .landing-page-text-portion .landing-page-main-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.landing-page .landing-page-text-portion .landing-page-sub-heading {
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  color: #4c5d73;
}
.landing-page .landing-page-text-portion .landing-page-button {
  background-color: #304f8c;
  font-size: 13px;
  font-weight: 700;
  color: white;
  outline: none;
  border: none;
  width: 200px;
  height: 44px;
  border-radius: 8px;
  margin: 16px auto;
  display: block;
  box-shadow: 4px 12px 50px rgba(48, 79, 140, 0.167);
  cursor: pointer;
}
.landing-page .landing-page-text-portion .landing-page-button:hover {
  background-color: #0b2b69;
}
.landing-page .landing-page-text-portion .landing-page-button:active {
  transform: scale(0.99);
}
.big-white-box {
  padding: 36px 85px;
  box-shadow: 18px 20px 50px rgba(48, 79, 140, 0.116);
  border-radius: 10px;
  margin: 40px 0;
}
.big-white-text-box {
  position: relative;
  width: 180px;
  margin: 0 auto;
}
.height-69 {
  height: 68px !important;
  width: 68px !important;
}
.height-100 {
  height: 108px !important;
  width: 108px !important;
  margin: 0 auto;
  display: block !important;
}
.circle-outside {
  height: 59px;
  width: 59px;
  border-radius: 50%;
  background-color: #eaedf4;
  position: relative;
  display: inline-block;
}
.circle-outside svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle-outside:hover svg path {
  fill: rgb(97, 170, 204);
}
.right-circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 68px;
}
.right-circle span {
  color: #111826;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
}
.right-circle p {
  color: #4c5d73;
  font-size: 14px;
}
/* --------------------------Servicos-------------------- */
.servicos {
  margin: 50px 0;
}
.subtitle {
  line-height: 42px;
  letter-spacing: 0.05em;
  font-size: 13.8px;

  color: #4c5d73;
}
.maintitle {
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* or 125% */

  color: #111826;
}
.servicos-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 34px;
  color: #111826;
  margin-top: 16px;
}
.servicos-text {
  font-size: 14px;
  line-height: 18px;
  color: #4c5d73;
}
.four-box-column {
  width: 100%;
  margin: 42px 0 0 0;
}
.four-box-column .one-box-column {
  width: 100%;
  padding-bottom: 46px;
}
.four-box-column .one-box-column .inner-box {
  padding: 28px;
  max-width: 388px;
  cursor: pointer;

  left: 72px;
  top: 915px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 10px 10px 50px rgba(48, 79, 140, 0.16);
}
.two-content-grid {
  margin: 1px 0;
}
.two-content-grid .left-image {
  width: 100%;

  margin-bottom: 20px;
}
.two-content-grid .left-image img {
  max-width: 60%;
  display: block;
  margin: auto;
}
.two-content-grid .right-content {
  width: 100%;
  color: #4c5d73;
  text-align: justify;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}
.two-content-grid .right-content p {
  margin-bottom: 22px;
}
.btn-blue {
  box-sizing: border-box;
  border: 1.56px solid #304f8c;
  background-color: transparent;
  color: #304f8c;
  border-radius: 8px;
  padding: 4px 5vw !important;
  margin: 8px auto;
  box-shadow: 5px 4px 30px rgba(50, 84, 100, 0.16);
  font-weight: 700;
  font-size: 0.85rem;
  display: block;
}
.btn-blue-box {
  box-sizing: border-box;
  border: 1.56px solid #304f8c;
  background-color: transparent;
  color: #304f8c;
  border-radius: 8px;
  padding: 14px 10px !important;
  margin: 8px auto;
  text-align: center;
  font-weight: 700;
  font-size: 0.8rem;
}
.btn-blue-box:hover {
  background: #eaedf3;
  color: #0b2b69 !important;
}
.non-blue {
  background-color: transparent;
}
.non-blue:hover {
  background: #304f8c;
}
.non-blue:hover div {
  color: rgb(243, 239, 239);
}
.non-blue:hover div span {
  color: white !important;
}
.non-blue:hover .btn-blue-box {
  border: 1.56px solid white;
}
.all-blue {
  background: #304f8c;
}
.all-blue:hover {
  background-color: transparent;
}
.all-blue div {
  color: rgb(243, 239, 239);
}
.all-blue div span {
  color: white !important;
}
.all-blue .btn-blue-box {
  background: #eaedf3;
  color: #304f8c;
}
.all-blue:hover div {
  color: #0b2b69;
}
.all-blue:hover div span {
  color: #0b2b69 !important;
}
.relative-box {
  position: relative;
}
.relative-box .popular {
  position: absolute;
  padding: 12px 40px;
  color: #304f8c;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  background: #94f2e9;
  border-radius: 100px;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.btn-blue .btn-blue-left {
  display: inline-block;
  padding: 10px 0;
}
.btn-blue .btn-blue-right {
  display: inline-block;
  padding-left: 6px;
}
.btn-blue:hover {
  border: 1.56px solid #17326b !important;
  color: white;
  background-color: #304f8c;
}
.btn-blue:hover .btn-blue-right svg path {
  fill: white;
}
.atuacao-text {
  color: #111826;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  margin-top: 22px;
}
.top-text {
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}
.bold-currency span.sec {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  color: #11182699;
  vertical-align: top;
}
.bold-currency span {
  display: inline-block;
  font-size: 32px;
  color: #111826;
  font-weight: 700;
  line-height: 30px;
}
.small-text {
  height: 72px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4c5d73;
}
.height-34 {
  height: 34px;
}
.slider {
  margin: 40px 0;
  cursor: pointer;
}
.slider .slider-box {
  max-width: 770px;
  /* height: 50px; */
  background: #eaedf3;
  border-radius: 13px;
  margin: 0 auto;
  padding: 30px;
}
.slider .slider-box .slider-relative {
  position: relative;
}
.slider .slider-box .slider-relative .slider-comma {
  position: absolute;
  top: -50px;
  right: 0px;
}
.slider .slider-box .slider-relative img {
  display: block;
  margin: 0 auto;
  width: 40%;
}
.slider .slider-box .slider-relative .lower-section {
  font-size: 12.6px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: #4c5d73;
  margin-top: 20px;
}
.slider .slider-box .slider-relative .slider-circle {
  margin: 24px auto;
  width: 140px;
  /* background: #2b4a86; */
}
.slider .slider-box .slider-relative .slider-circle .circle {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #2b4a86;
  margin: 0px 8px;
}
.circle-active {
  background: #2b4a86;
}
.slider .slider-box .slider-relative .slider-circle .circle:hover {
  background: #2b4a86;
}

/* ---------------------------media queries---------------------------- */
@media (min-width: 480px) {
  .slider .slider-box .slider-relative img {
    width: 150px;
  }
  .two-content-grid .left-image {
    width: 100%;

    margin-bottom: 20px;
  }
  .two-content-grid .left-image img {
    max-width: 40%;
  }

  .landing-page .landing-page-image-portion {
    width: 44%;
    margin: 14px auto;
  }
  .landing-page .landing-page-text-portion .landing-page-main-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
  .landing-page .landing-page-text-portion .landing-page-sub-heading {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #4c5d73;
  }
}

@media (min-width: 769px) {
  .slider .slider-box {
    padding: 35px 120px;
  }
  .slider .slider-box .slider-relative .lower-section {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
  .slider .slider-box .slider-relative .slider-comma {
    right: -50px;
  }

  .four-box-column .one-box-column .inner-box {
    width: 268px;
  }
  .btn-blue {
    display: inline-block;
  }
  .two-content-grid {
    margin: 1px 0;
  }
  .two-content-grid .left-image {
    width: 49%;
    display: inline-block;
    margin-left: 0%;
    margin-bottom: 20px;
  }
  .two-content-grid .left-image img {
    max-width: 75%;
  }
  .two-content-grid .right-content {
    display: inline-block;
    vertical-align: top;
    width: 49%;

    margin-top: 5vw;
  }
  .two-content-grid .right-content p {
    margin-bottom: 20px;
  }
  .four-box-column .one-box-column {
    display: inline-block;
    width: 49.5%;
  }
  .maintitle {
    width: 95%;
    font-size: 28px;
    line-height: 40px;
    color: #111826;
  }
  .landing-page .landing-page-image-portion {
    float: right;
    width: 50%;
    margin: 14px auto;
  }
  .landing-page .landing-page-image-portion .landing-page-image {
    float: right;
    width: 330px;
  }
  .landing-page .landing-page-text-portion {
    width: 50%;
  }
  .landing-page .landing-page-text-portion .landing-page-main-heading {
    font-size: 32px;
    margin-top: 56px;
    padding-top: 42px;
  }
  .landing-page .landing-page-text-portion .landing-page-sub-heading {
    font-size: 13px;
    margin-top: 20px;
  }
  .landing-page .landing-page-text-portion .landing-page-button {
    width: 200px;
    height: 44px;
    border-radius: 8px;
    margin: 20px 0 0 0;
  }
}
@media (min-width: 992px) {
  .btn-blue {
    box-sizing: border-box;
    border: 1.56px solid #304f8c;
    background-color: transparent;
    color: #304f8c;
    border-radius: 8px;
    padding: 4px 3vw !important;
    margin-top: 18px;
    font-weight: 700;
    font-size: 1rem;
  }
  .two-content-grid .left-image {
    width: 42%;
  }
  .two-content-grid .left-image img {
    max-width: 374px;
  }
  .two-content-grid .right-content {
    width: 57%;
    font-size: 16px;
    margin-top: 10vw;
  }

  .four-box-column .one-box-column {
    display: inline-block;
    width: 33%;
  }
  .landing-page .landing-page-image-portion .landing-page-image {
    width: 360px;
  }
  .landing-page .landing-page-text-portion .landing-page-main-heading {
    font-size: 38px;
    line-height: 44px;
  }
  .landing-page .landing-page-text-portion .landing-page-sub-heading {
    font-size: 13px;
  }
}
@media (min-width: 1280px) {
  .four-box-column .one-box-column {
    display: inline-block;
    width: 24.6%;
  }
  .two-content-grid .left-image img {
    max-width: 440px;
  }
}

@media (min-width: 1200px) {
  .two-content-grid .left-image {
    width: 39%;
  }
  .two-content-grid .left-image img {
    max-width: 440px;
  }
  .two-content-grid .right-content {
    width: 60%;
    font-size: 17.6px;
    margin-top: 12vw;
  }
  .subtitle {
    line-height: 56px;
    letter-spacing: 0.1em;
    font-size: 16px;
  }
  .maintitle {
    width: 68%;
    font-size: 32px;
    line-height: 40px;
    color: #111826;
  }
  .landing-page .landing-page-image-portion .landing-page-image {
    width: 432px;
  }
  .landing-page .landing-page-text-portion .landing-page-main-heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
  }
  .landing-page .landing-page-text-portion .landing-page-sub-heading {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #4c5d73;
  }
  .landing-page .landing-page-text-portion .landing-page-button {
    background-color: #304f8c;
    font-size: 16px;
    font-weight: 700;
    color: white;
    outline: none;
    border: none;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    margin-top: 30px;
  }
}
@media (min-width: 1400px) {
  .landing-page .landing-page-image-portion .landing-page-image {
    width: 482px;
    margin-right: 7px;
  }
  .landing-page .landing-page-text-portion .landing-page-main-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }
}
.navbar-offset {
  display: none;
}
@media (min-width: 991px) {
  .navbar-offset {
    display: block;
    height: 76px;
  }
}

@media (max-width: 769px) {
  .slider .slider-box .slider-relative .slider-comma svg {
    height: 48px;
    width: 48px;
  }
  .landing-page .landing-page-text-portion .landing-page-main-heading {
    text-align: center;
  }
  .big-white-box {
    padding: 36px 45px;
  }
}
/* @media (min-width: 480px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... } */
