@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
}
.nav {
  background-color: #7dd9e8;
  height: 85px;
}

.navbar .main-logo {
  margin: 19px 0 0 30px;
  float: left;
  cursor: pointer;
}
.search-part {
  float: left;
  margin: 40px 0 0 30px;
}

.search-area {
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  width: 276px;
  background-color: #caeff7;
}
.search-area input {
  width: 180px;

  font-size: 10px;
  color: #8b9596;
  font-weight: 500;
  border: none;
  padding: 3px 0px 3px 8px;
  background-color: inherit;
  outline: none;
}
.search-area .borderHeight {
  height: 20px;
  display: inline-block;
  width: 1px;
  background-color: #ade7f2;
}
.m-b-4 {
  margin-bottom: 5px;
}
.search-button {
  cursor: pointer;
  height: 20px;
  width: 53px;
  display: inline-block;
  background-color: #275056;
  margin-left: 7px;
  box-sizing: border-box;
}
/* .search-button {
  box-sizing: border-box;
  display: inline-block;
} */
.search-button span {
  color: white;
  font-size: 8.4px;
  font-weight: 600;
  padding: 4px 0 0 1px;
  font-family: sans-serif;
}
.search-button:hover span {
  color: rgb(93, 217, 255);
}
.navlist {
  margin-top: 24px;
  color: #323133;
}
.main-username {
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 26px;
}
.navlist .navlinks {
  font-size: 13.6px;
  font-weight: 900;
}

.navlist .navlinks span {
  cursor: pointer;
  font-weight: 600;
}
.navlist .navlinks span:hover {
  color: ivory;
}
/* -----------------navbar secondary-------- */
.navbar-secondary {
  height: 40px;
  background-color: #f5f5f5;
  font-weight: 600;
  font-size: 13.6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #474747;
}
.navbar-secondary .navbar-secondary-inside {
  margin-left: 36px;
  float: left;
}
.navbar-secondary .navbar-secondary-inside span {
  cursor: pointer;
  padding: 13.2px 12px;
  display: inline-block;
}
.navbar-secondary-right {
  float: right;
}
.navbar-secondary .navbar-secondary-inside span:hover {
  background-color: white;
  color: black;
}

.topic-boxes {
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  /* padding: 13.2px 12px; */
}
.topic-boxes:hover {
  color: rgb(115, 196, 196);
}
.friend-req {
  display: inline-block;
  padding: 8px 0 13.2px 20px;
  cursor: pointer;
  color: #919191;
  font-size: 11px;
}

.friend-req .profile-icon {
  display: inline-block;
  height: 16px;
  width: 17px;
  margin-top: 3px;
  margin-right: 4px;
  background-image: url(../images/profile-icon.png);
}
.friend-req:hover {
  color: rgb(115, 196, 196);
}

.friend-req:hover .profile-icon {
  background-image: url(../images/profile-blue.png);
}

/* --------main-section------------ */
.main-container {
  margin: 30px 0;
}
.main-container-padding {
  padding: 0 31px 0px 33px;
  box-sizing: border-box;
}
.left-sidebar {
  width: 194px;
  height: 605px;
  background-color: #f5f5f5;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #323133;
}

.right-sidebar {
  float: right;
  width: 176px;
  height: 605px;
  background-color: #f5f5f5;
}
.blue-section {
  font-size: 16px;
  color: white;
  font-weight: 500;
  background-color: #2fc1da;
  height: 42px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px;
  cursor: pointer;
  min-width: 120px;
}
.side-topics {
  padding: 11px 0px 11px 8px !important;
  font-size: 11px;
  font-weight: 600;
  color: #323133;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.side-topics span {
  display: inline-block;
  max-width: 150px;
  line-height: 17px;
}
.download-icon {
  margin-right: 10px;
  background-image: url(../images/download-icon.png);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: right;
}
.side-topics:hover {
  background-color: white;
}
.side-topics:hover .download-icon {
  background-image: url(../images/download-icon\ -\ 2.png);
}
.hamburger-icon {
  margin-right: 10px;
  background-image: url(../images/hamburger-icon.png);
  background-repeat: no-repeat;
  background-position: right;
}
.side-topics:hover .hamburger-icon {
  background-image: url(../images/hamburger-icon-2.png);
}
.side-topics-right {
  padding: 12px;
  font-size: 11px;
  font-weight: 600;
  color: #323133;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.side-topics-right:hover {
  background-color: white;
}

/* ----------------footer--------------- */
.footer {
  height: 45px;
  background-color: #727272;
  color: white;
  font-size: 13px;
  box-sizing: border-box;
}
.footer-padding {
  padding: 18px 34px 0px 26px;
}
.footer-about ul.about li {
  float: left;
  width: auto;
  margin: 0 10.2px;
}
.footer-about ul.about {
  list-style-type: disc;
}

.footer-about ul.about li a {
  text-decoration: none;
  color: white;
}
.footer-about ul.about li a:hover {
  color: blue;
}
.copyright {
  float: right;
}

/* ----------------middle section ------------ */
.middle-section {
  max-width: 518px;
  float: left;
  margin-left: 26px;
  margin-right: 24px;
}
.middle-section h1 {
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 6px;
}
.selection-section {
  height: 66px;
  border-bottom: 2px solid #2fc1da;
}
.selection-section .all-entries {
  max-width: 258px;
  background-color: #f5f5f5;
  background-image: url(../images/all\ entries\ left.png);
  background-repeat: no-repeat;
  background-position: left;
}
.selection-section .subscribed {
  max-width: 258px;
  background-color: #f5f5f5;
  background-image: url(../images/all\ entries\ right.png);
  background-repeat: no-repeat;
  background-position: right;
  border-left: 2px solid white;
}
.center-text {
  text-align: center;
  font-size: 15.2px;
  font-weight: 600;
  color: #323133;
  padding: 10.4px 0;
}
.two-buttons .button-blue {
  float: left;
  width: 114px;
  height: 28px;
  background-color: #2fc2dc;
  text-align: center;
  margin-left: 10px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  /* padding-top: 7px; */
}
.two-buttons .button-blue .button-blue-left {
  background-image: url(../images/button-left-blue-round.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 13px;
  height: 27px;
}
.two-buttons .button-blue .button-blue-right {
  background-image: url(../images/button-right-blue-round.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 11px;
  height: 27px;
}
.inside {
  display: inline-block;
  padding-top: 7px;
}
.inside-long {
  padding-top: 7px;
  margin-left: -2px;
}
.button-blue:hover {
  background-color: #dddddd;
  color: #323133;
}
.button-blue:hover .button-blue-left {
  background-image: url(../images/button-left-grey-round.png);
}
.button-blue:hover .button-blue-right {
  background-image: url(../images/button-right-grey-round.png);
}

.two-buttons .button-grey {
  /* padding-top: 7px; */
  font-size: 14px;
  float: left;
  width: 114px;
  height: 28px;
  background-color: #dddddd;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
}

.two-buttons .button-grey .button-grey-left {
  background-image: url(../images/button-left-grey-round.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 13px;
  height: 27px;
}
.two-buttons .button-grey .button-grey-right {
  background-image: url(../images/button-right-grey-round.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 11px;
  height: 27px;
}
.button-grey:hover {
  background-color: #2fc2dc;
  color: white;
}
.button-grey:hover .button-grey-left {
  background-image: url(../images/button-left-blue-round.png);
}
.button-grey:hover .button-grey-right {
  background-image: url(../images/button-right-blue-round.png);
}
.main-content-box {
  box-sizing: content-box;
  padding: 15px 0;
  border-bottom: 1px solid #d8d8d8;
  height: 70px;
  font-size: 13px;
  color: #323133;
  line-height: 16px;
}
.main-content-box .text-content {
  padding-top: 2px;
  clear: both;
  margin-left: 10px;
  max-width: 400px;

  display: inline-block;
}
.bold-text {
  font-size: 16.4px;
  font-weight: 600;
  line-height: 18px;
}
.blue-text {
  color: #4daebf;
  font-weight: 600;
}
.green-text {
  color: #709724;
  font-weight: 600;
}
.red-text {
  color: #d64b2a;
  font-weight: 600;
}
.popup {
  position: fixed;
  top: 40px;
  right: 40px;
}
.popup div {
  height: 150px;
  width: 150px;
  font-weight: 700;
  font-size: 24px;
  background-color: rgba(54, 53, 53, 0.13);
  text-align: center;
  padding-top: 24px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.later-display {
  display: none;
}

/* 
@media (max-width: 1199px) { ... }
@media (max-width: 991px) { ... }
@media (max-width: 767px) { ... }
@media (max-width: 479px) { ... } */

@media (max-width: 1009px) {
  .navbar .main-logo {
    margin: 29px 0 0 24px;
    height: 42px;
  }
  .right-sidebar {
    float: left;
    width: 24%;
    height: 400px;
    margin-left: 1.2%;
  }
  .side-topics-right {
    font-size: 10.6px;
  }
  .middle-section {
    width: 65%;
    margin-left: 6%;
  }
  .left-sidebar {
    width: 24%;
    margin-left: 1.2%;
  }
  .main-content-box {
    width: 100%;
  }
  .main-content-box {
    box-sizing: content-box;

    line-height: 16px;
  }
  /* .main-content-box .text-content {
    clear: both;
  } */
  .bold-text {
    font-size: 13.4px;
    font-weight: 600;
    line-height: 12px;
  }
  .two-buttons .button-grey {
    width: 42%;
  }
  .two-buttons .button-blue {
    width: 42%;
  }
  .inside {
    font-size: 11px;
  }
  .inside-long {
    font-size: 10px;
    text-align: center;
  }
  .all-entries {
    width: 49%;
  }
  .subscribed {
    width: 49%;
  }
  .side-topics {
    font-size: 10.3px;
    font-weight: 600;
  }
  /* ----------navbar---------- */
  .search-area {
    width: 206px;
  }
  .search-area input {
    width: 155px;
    padding-left: 3px;
    font-size: 9px;
  }
  .main-username {
    font-size: 14px;
    line-height: 24px;
    margin-right: 16px;
  }
  .navlist .navlinks {
    font-size: 12px;
    font-weight: 900;
    margin-right: 16px;
  }
  .navbar-secondary .navbar-secondary-inside {
    margin-left: 20px;
  }
  .navbar-secondary .navbar-secondary-inside span {
    padding: 14.5px 10px;
    font-size: 10.8px;
  }
  .topic-boxes {
    font-size: 10.6px;
  }

  .friend-req {
    padding: 9px 4px 13.2px 10px;

    font-size: 10px;
  }

  .friend-req .profile-icon {
    height: 12px;
    width: 14px;
  }
  .topic-height {
    height: 15px;
  }
}

@media (max-width: 767px) {
  .previous-display {
    display: none;
  }
  .table-row {
    display: table-row;
  }
  .later-display {
    display: block;
  }
  .left-sidebar {
    margin-left: 0;
    width: 71%;
    height: auto;
    background-color: transparent;
    display: table;
    border-collapse: separate;
    border-spacing: 6px 0px;
  }
  .upper-section {
    display: table-cell;
    width: 48%;
  }
  .lower-section {
    display: table-cell;
    width: 48%;
  }

  .middle-section {
    clear: both;
  }
  .blue-section {
    font-size: 13.4px;
    height: 44px;
    text-align: center;
    padding: 12px;
    max-width: 120px;
  }
  .right-sidebar {
    float: right;
    width: 26%;
    background-color: transparent;
  }
  .side-topics-right {
    padding: 10px;
    padding-left: 12px;
    background-color: #f5f5f5;
  }
  .side-topics {
    background-color: #f5f5f5;
  }
  .search-part {
    margin-top: 35px;
    margin-left: 5%;
  }
  .search-area {
    box-sizing: border-box;
    display: inline-block;
    height: 20px;
    /* width: 100px; */
    width: 20vw;
    background-color: #caeff7;
  }
  .search-area input {
    width: 31px;
  }

  .search-button {
    display: none;
  }
  .search-button:hover span {
    color: rgb(93, 217, 255);
  }
  .navbar .main-logo {
    margin: 29px 0 0 24px;
    height: 32px;
  }
  .navbar-secondary {
    height: 60px;
  }
  .navbar-secondary .navbar-secondary-inside {
    display: block;
    float: none;
    max-width: 458px;
    margin: 0 auto;
  }
  .navbar-secondary .navbar-secondary-inside span {
    padding: 10px;
    font-size: 10.8px;
  }

  .navbar-secondary .navbar-secondary-right {
    float: none;
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }
  .friend-req {
    padding: 0 0 13.2px 20px;
  }
  .topic-height {
    height: 13px;
  }
  .middle-section {
    margin-top: -330px;
    margin-bottom: 30px;
    margin-left: 2%;
    width: 100%;
  }
  /* .selection-section {
    height: 66px;
    border-bottom: 2px solid #2fc1da;
  } */
  .selection-section .all-entries {
    max-width: 358px;
  }
  .selection-section .subscribed {
    max-width: 358px;
  }
  .inside-long {
    font-size: 9.1px;
    text-align: center;
  }
  .two-buttons .button-grey {
    margin-left: 5px;
  }
  .main-content-box .text-content {
    max-width: 312px;
  }
  .footer {
    height: 65px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .footer-padding {
    padding: 13px 0px;
  }
  .copyright {
    float: none;
    width: 120px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 12.4px;
  }
  /* <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div> */

  .upper-section {
    position: relative;
    display: inline-block;
  }
  .upper-dropdown {
    display: none;
    position: absolute;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .upper-dropdown div {
    display: block;
  }
  .upper-section:hover .upper-dropdown {
    display: block;
  }

  .lower-section {
    position: relative;
    display: inline-block;
  }
  .lower-dropdown {
    display: none;
    position: absolute;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .lower-dropdown div {
    display: block;
  }
  .lower-section:hover .lower-dropdown {
    display: block;
  }
  .up-section {
    position: relative;
    display: inline-block;
  }
  .up-dropdown {
    display: none;
    position: absolute;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .up-dropdown div {
    display: block;
  }
  .up-section:hover .up-dropdown {
    display: block;
  }
}
/* end------------ */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* @media (max-width: 479px) { 

 } */
